[build-system]
build-backend = 'setuptools.build_meta'
requires = [
    'setuptools',
]

[project]
name = "nebari_subcommand_{{ cookiecutter.project_name }}"
version = "0.0.1"
dependencies = [
    "nebari"
]

[project.entry-points.nebari]
nebari-subcommand-{{ cookiecutter.project_name | replace("_", "-") }} = "{{ cookiecutter.project_name }}"
